repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          # Make the tool fail if any component of the documentation is missing or incomplete.
          - --documentation-strict-mode

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer


  - repo: local
    hooks:
      - id: helm-chart-tests
        name: Helm Chart Tests
        entry: .github/scripts/run_chart_tests.py
        language: python
        pass_filenames: false
        always_run: true
