repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          - --sort-values-order=file

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: check-changelog-updated
        name: Check CHANGELOG.md Updated
        entry: .github/scripts/check_changelog_updated.py
        language: python
        pass_filenames: false
        always_run: false
        stages: [commit]

      - id: helm-chart-tests
        name: Helm Chart Tests
        entry: .github/scripts/run_chart_tests.py
        language: python
        pass_filenames: false
        always_run: true

  - repo: https://github.com/digitalstudium/helmfmt
    rev: v0.4.2
    hooks:
      - id: helmfmt

  # The seqeralabs fork comes with Go text/template support and a fix for relative config files
  # https://github.com/emzeat/mz-lictools/pull/47
  # https://github.com/emzeat/mz-lictools/pull/48
  # Use separate calls to the same hook to first decorate helm template files with Go text/template
  # style, then decorate remaining yaml and other files with standard style.
  - repo: https://github.com/emzeat/mz-lictools
    rev: v2.9.0
    hooks:
      - id: license-tools
        name: Fix license header on Helm templates
        args:
          - --config=.license-tools-config-helm.json
      - id: license-tools
        name: Fix license header on Helm test files
        args:
          - --config=.license-tools-config-helm-tests.json
      - id: license-tools
        name: Fix license header on other test files in the repo
        args:
          - --config=.license-tools-config-other.json
