# Copyright (c) 2025 - 2026 Seqera Labs
# All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This values.yaml file contains the default values for the Seqera Pipeline Optimization Helm chart.
# Users can override these values by providing their own values.yaml file or by using --set flags
# during Helm installation or upgrade. Refer to the README.md file for more instructions on the most
# important values to set and more details on the product. The README.md file also contains a table
# view of all the available configuration options detailed in this values.yaml file. We recommend
# copying the content of this values.yaml file to an empty file, remove the values you don't need to
# change, and set the desired values for your deployment.

# Values in the .global section can be accessed by both parent and child subcharts as
# .Values.global.*: https://helm.sh/docs/chart_template_guide/subcharts_and_globals/
global:
  # -- Optional credentials to log in and fetch images from a private registry. These credentials
  # are shared with all the subcharts automatically
  imageCredentials: []
  # imageCredentials:
  # - registry: ""
  #   username: ""
  #   password: ""
  #   email: someone@example.com  # Optional

  # -- Optional list of existing Secrets containing image pull credentials to use for pulling
  # images from private registries. These Secrets are shared with all the subcharts automatically
  imageCredentialsSecrets: []
  # imageCredentialsSecrets:
  # - myPrivateRegistryKeySecretName
  #
  # Each secret must be of type `kubernetes.io/dockerconfigjson` and contain the field
  # `.dockerconfigjson` with value created with:
  #   kubectl create secret docker-registry mycreds --docker-server='cr.example.com' --docker-username='robot$robotnamehere' --docker-password='passwordhere' --dry-run=client -o yaml
  # https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line

# MySQL database configuration storing the Platform Optimization service data.
database:
  # -- Pipeline Optimization MySQL database hostname
  host: ""
  # -- Pipeline Optimization MySQL database port
  port: 3306
  # -- Pipeline Optimization MySQL database name
  name: ""
  # -- Pipeline Optimization MySQL database username
  username: ""
  # -- Pipeline Optimization MySQL database password
  password: ""
  # -- Name of an existing Secret containing credentials for the Pipeline Optimization MySQL
  # database, as an alternative to the password field. Note: the Secret must already exist in the
  # same namespace at the time of deployment
  existingSecretName: ""
  # -- Key in the existing Secret containing the password for the Pipeline Optimization MySQL
  # database
  # @default -- `"SWELL_DB_PASSWORD"`
  existingSecretKey: ""
  # -- Pipeline Optimization database dialect. Currently only 'mysql' is supported
  dialect: mysql

# Platform Optimization communicates with the main Platform database to read pipeline and job
# details to optimize. Only read-only access is required.
platformDatabase:
  # -- Platform MySQL database hostname
  host: ""
  # -- Platform MySQL database port
  port: 3306
  # -- Platform MySQL database name
  name: ""
  # -- Platform MySQL database username. Can be a read-only user, since Platform Optimization does
  # not perform write operations on the Platform database
  username: ""
  # -- Platform MySQL database password
  password: ""
  # -- Name of an existing Secret containing credentials for the Platform MySQL database, as an
  # alternative to the password field. Note: the Secret must already exist in the same namespace at
  # the time of deployment
  existingSecretName: ""
  # -- Key in the existing Secret containing the password for the Platform MySQL database
  # @default -- `"TOWER_DB_PASSWORD"`
  existingSecretKey: ""

image:
  # -- Pipeline Optimization container image registry
  registry: ""
  # -- Pipeline Optimization container image repository
  repository: private/nf-tower-enterprise/groundswell
  # -- Pipeline Optimization container image tag
  # @default -- `"{{ .chart.AppVersion }}"`
  tag: ""
  # -- Pipeline Optimization container image digest in the format `sha256:1234abcdef`
  digest: ""

  # -- imagePullPolicy for the Pipeline Optimization container
  # Ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
  pullPolicy: IfNotPresent

  # -- List of imagePullSecrets
  # Secrets must be created in the same namespace, for example using the .extraDeploy array
  # Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  pullSecrets: []
  # pullSecrets:
  #   - myRegistryKeySecretName

dbMigrationInitContainer:
  image:
    # -- Migrate DB init container image registry
    registry: ""
    # -- Migrate DB init container image repository
    repository: private/nf-tower-enterprise/groundswell
    # -- Migrate DB init container image tag
    # @default -- `"{{ .chart.AppVersion }}"`
    tag: ""
    # -- Migrate DB init container image digest in the format `sha256:1234abcdef`
    digest: ""

    # -- imagePullPolicy for the Migrate DB init container
    # Ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
    pullPolicy: IfNotPresent

  # -- Command to run to migrate the database schema
  command: ['/opt/groundswell/bin/migrate-db.sh']
  args: []

service:
  # -- Pipeline Optimization Service type.
  # Note: ingresses using AWS ALB require the service to be NodePort
  type: ClusterIP
  http:
    # -- Service name to use
    name: http
    # -- Service port number
    port: 8090
    # -- Port on the pod/container that the Service forwards traffic to (can be a number or
    # named port, distinct from the Service's external port).
    targetPort: 8090
    # -- Service node port, only used when service.type is Nodeport or LoadBalancer
    # Choose port between 30000-32767, unless the cluster was configured differently than default
    nodePort: null
  # -- Other services that should live in the Service object
  # https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service
  extraServices: []
  # extraServices:
  # - name: myspecialservice
  #   port: 1234
  #   targetPort: 5678
  #   nodePort: null

  # -- Extra Service options to place under .spec (for example, clusterIP, loadBalancerIP,
  # externalTrafficPolicy, externalIPs). Evaluated as a template
  extraOptions: {}

# -- Additional init containers for the pipeline optimization pod. Evaluated as a template
initContainers: []

# -- Override default container command (useful when using custom images)
command: []
# -- Override default container args (useful when using custom images)
args: []

# -- Additional labels for the pipeline optimization pod. Evaluated as a template
podLabels: {}
# -- Additional annotations for the pipeline optimization pod. Evaluated as a template
podAnnotations: {}

# -- Annotations to add to all deployed objects
commonAnnotations: {}
# -- Labels to add to all deployed objects
commonLabels: {}

# -- Annotations to add specifically to the ConfigMap
configMapAnnotations: {}
# -- Labels to add specifically to the ConfigMap
configMapLabels: {}

# -- Extra options to place under .spec (e.g. replicas, strategy, revisionHistoryLimit, etc).
# Evaluated as a template
extraOptionsSpec: {}
# extraOptionsSpec:
#   replicas: 2
#   strategy:
#     rollingUpdate:
#       maxUnavailable: x
#       maxSurge: y

# -- Extra options to place under .spec.template.spec (e.g. nodeSelector, affinity, restartPolicy,
# etc). Evaluated as a template
extraOptionsTemplateSpec: {}
# extraOptionsTemplateSpec:
#   nodeSelector:
#     service: myspecialnodegroup

# -- Extra environment variables to set on the pipeline optimization pod
extraEnvVars: []
# extraEnvVars:
#   - name: "CUSTOM_ENV_VAR"
#     value: "set-a-value-here"

# -- List of ConfigMaps containing extra env vars
extraEnvVarsCMs: []
# -- List of Secrets containing extra env vars
extraEnvVarsSecrets: []
# -- List of volumes to add to the deployment (evaluated as template). Requires setting
# `extraVolumeMounts`
extraVolumes: []
# -- List of volume mounts to add to the container (evaluated as template). Normally used with
# `extraVolumes`
extraVolumeMounts: []

# Configure Pods Security Context.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
# Empty map to disable Pod Security Context configuration
podSecurityContext:
  # -- Enable pod Security Context
  enabled: true
  # -- Sets the GID that Kubernetes will apply to mounted volumes and created files so processes
  # in the pod can share group-owned access
  fsGroup: 101

# Configure Container Security Context.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext:
  # -- Enable container Security Context
  enabled: true
  # -- UID the container processes run as (overrides container image default)
  runAsUser: 101
  # -- Boolean that requires the container to run as a non-root UID (prevents starting if UID 0)
  runAsNonRoot: true
  # -- Mounts the container root filesystem read-only to prevent in-place writes or tampering
  readOnlyRootFilesystem: true
  # -- Fine-grained Linux kernel privileges to add or drop for the container
  capabilities:
    drop:
      - ALL

# -- Container requests and limits for different resources like CPU or memory
resources: {}
# `.requests` are the minimum CPU/memory resources the scheduler uses to place a pod;
# the kubelet then guarantees at least these resources to the pod. `.limits` are the
# maximum resources a container is allowed to use
# Ref: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
# Seqera recommends tuning resources to match the expected workload. The following are
# sensible defaults to start with:
#
# resources:
#   requests:
#     cpu: "1"
#     memory: "1000Mi"
#   limits:
#     memory: "1000Mi"

# Configure extra options for the startup probe
startupProbe:
  # -- Enable startup probe
  enabled: false
  httpGet:
    # -- HTTP GET path for startup probe
    path: "/api/v1/health"
    # -- HTTP GET port for startup probe. Evaluated as a template
    port: "{{ .Values.service.http.targetPort }}"
  # -- Longer initial wait to accommodate slow-starting apps
  initialDelaySeconds: 5
  # -- Often set longer to avoid frequent checks while starting
  periodSeconds: 10
  # -- Can be longer to allow slow initialization responses
  timeoutSeconds: 3
  # -- Consecutive failures during startup before killing the container (instead of immediate
  # restarts)
  failureThreshold: 5
  # -- Number of consecutive successes required to consider startup complete and enable
  # liveness/readiness
  successThreshold: 1

# Configure extra options for the readiness probe
readinessProbe:
  # -- Enable readiness probe
  enabled: true
  httpGet:
    # -- HTTP GET path for readiness probe
    path: "/api/v1/health"
    # -- HTTP GET port for readiness probe. Evaluated as a template
    port: "{{ .Values.service.http.targetPort }}"
  # -- Delay before first check (normal start timing)
  initialDelaySeconds: 5
  # -- Regular check interval during normal operation
  periodSeconds: 5
  # -- Short timeout to detect unresponsive containers for readiness
  timeoutSeconds: 3
  # -- Consecutive failures before marking the container Unready (no restart)
  failureThreshold: 5
  # -- Number of consecutive successes required to mark the container Ready after failures
  successThreshold: 1

# Configure extra options for the liveness probe
livenessProbe:
  # -- Enable liveness probe
  enabled: true
  httpGet:
    # -- HTTP GET path for liveness probe
    path: "/api/v1/health"
    # -- HTTP GET port for liveness probe. Evaluated as a template
    port: "{{ .Values.service.http.targetPort }}"
  # -- Delay before first check (normal start timing)
  initialDelaySeconds: 5
  # -- Regular check interval during normal operation
  periodSeconds: 10
  # -- Short timeout to detect hung containers quickly
  timeoutSeconds: 3
  # -- Consecutive failures before restarting the container
  failureThreshold: 10
  # -- Typically 1 (usually ignored)
  successThreshold: 1

initContainerDependencies:
  # -- Enable init containers that coordinate startup dependencies (for example, wait for database
  # readiness before starting, etc)
  enabled: true

  waitForMySQL:
    # -- Enable wait for MySQL init container before starting pipeline optimization and cron
    enabled: true
    image:
      # -- Override default wait for MySQL init container image
      registry: ""
      repository: "mysql"
      tag: "9"
      # Digest must be in the format `sha256:1234abcdef`
      digest: ""
      pullPolicy: IfNotPresent

    securityContext:
      # -- UID the container processes run as (overrides container image default)
      runAsUser: 101
      # -- Require the container to run as a non-root UID (prevents starting if UID
      # 0)
      runAsNonRoot: true
      # -- Mount the container root filesystem read-only to prevent in-place writes or tampering
      readOnlyRootFilesystem: true
      # -- Fine-grained Linux kernel privileges to add or drop for the container
      capabilities:
        drop:
          - ALL

    # -- Container requests and limits for different resources like CPU or memory
    resources:
      requests:
        cpu: "0.5"
        memory: "50Mi"
      limits:
        memory: "100Mi"

# -- Array of extra objects to deploy with the release
extraDeploy: []
# extraDeploy:
#   - apiVersion: v1
#     kind: MyExtraObjectKind
#     ...
#   - apiVersion: v1
#     kind: AnotherExtraObjectKind
#     ...

serviceAccount:
  # -- Name of an existing ServiceAccount. If not set, a new ServiceAccount is generated based on
  # the release name
  name: ""
  # -- Additional annotations for the Platform ServiceAccount to generate
  annotations: {}
  # -- Names of Secrets containing credentials to pull images from registries
  imagePullSecretNames: []
  # -- Automount service account token when the server service account is generated
  automountServiceAccountToken: false
