---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-frontend" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
    app: frontend
  {{- with .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 4 }}
  {{- end }}

spec:
  {{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.backend.podLabels .Values.commonLabels) "context" .) }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" (dict "customLabels" $podLabels "context" $) | nindent 6 }}
      app: frontend

  {{- with .Values.frontend.extraOptionsSpec -}}
  {{- include "common.tplvalues.render" (dict "value" (omit . "selector") "context" $) | nindent 2 -}}
  {{- end }}

  template:
    metadata:
      labels: {{- include "common.labels.standard" (dict "customLabels" $podLabels "context" $) | nindent 8 }}
        app: frontend
      annotations:
        {{- with .Values.frontend.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}

    spec:
      serviceAccountName: {{ include "platform.serviceAccountName" . }}
      {{- if .Values.frontend.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.frontend.podSecurityContext "enabled" | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.extraOptionsTemplateSpec }}
      {{- include "common.tplvalues.render" (dict "value" (omit . "serviceAccountName" "serviceAccount" "securityContext" "initContainers" "containers" "volumes" "imagePullSecrets") "context" $) | nindent 6 }}
      {{- end }}

      initContainers:
        {{- with .Values.frontend.initContainers }}
        {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
        {{- end }}

      containers:
        - name: frontend
          image: {{ include "platform.frontend.image" (dict "imageRoot" .Values.frontend.image "global" .Values.global "chart" .Chart) }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          {{- with .Values.frontend.command }}
          command: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.frontend.args }}
          args: {{- toYaml . | nindent 12 }}
          {{- end }}

          envFrom:
            {{- with .Values.frontend.extraEnvVarsCM }}
            - configMapRef:
                name: {{ include "common.tplvalues.render" (dict "value" . "context" $) }}
            {{- end }}
            {{- with .Values.frontend.extraEnvVarsSecret }}
            - secretRef:
                name: {{ include "common.tplvalues.render" (dict "value" . "context" $) }}
            {{- end }}

          env:
            - name: NGINX_UPSTREAM_HOST
              value: {{ tpl .Values.global.platformServiceAddress . }}
            - name: NGINX_UPSTREAM_PORT
              value: {{ .Values.global.platformServicePort | int | quote }}
            - name: NGINX_LISTEN_PORT
              value: {{ .Values.frontend.service.http.targetPort | quote }}
            {{- with .Values.frontend.extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
            {{- end }}

          {{- with .Values.frontend.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}

          volumeMounts:
            {{- with .Values.frontend.extraVolumeMounts }}
            {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 10 }}
            {{- end }}
          - name: tmp-volume
            mountPath: /tmp/
          - name: nginx-conf-volume
            mountPath: /etc/nginx/conf.d/

          {{- if .Values.frontend.containerSecurityContext.enabled }}
          securityContext: {{- omit .Values.frontend.containerSecurityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}

          {{- range $probeName, $probe := (dict "startupProbe" .Values.frontend.startupProbe "readinessProbe" .Values.frontend.readinessProbe "livenessProbe" .Values.frontend.livenessProbe) }}
          {{- if $probe.enabled }}
          {{ $probeName }}:
            httpGet:
              path: {{ $probe.path }}
              port: {{ $probe.port }}
            initialDelaySeconds: {{ $probe.initialDelaySeconds }}
            periodSeconds: {{ $probe.periodSeconds }}
            timeoutSeconds: {{ $probe.timeoutSeconds }}
            successThreshold: {{ $probe.successThreshold }}
            failureThreshold: {{ $probe.failureThreshold }}
          {{- end }}
          {{- end }}

      volumes:
        {{- with .Values.frontend.extraVolumes }}
        {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
        {{- end }}

        - name: tmp-volume
          emptyDir:
            sizeLimit: "100Mi"
        - name: nginx-conf-volume
          emptyDir:
            sizeLimit: "10Mi"

      imagePullSecrets:
      {{- range .Values.frontend.image.pullSecrets }}
        - name: {{ . | quote }}
      {{- end }}
