{{/*
 Copyright (c) 2025 - 2026 Seqera Labs
 All rights reserved.

 SPDX-License-Identifier: Apache-2.0

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/}}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-frontend" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
    app.kubernetes.io/component: frontend
{{- with .Values.commonAnnotations }}
  annotations: {{- include "seqera.tplvalues.render" (dict "value" . "context" $) | nindent 4 }}
{{- end }}

spec:
{{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.frontend.podLabels .Values.commonLabels) "context" .) }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" (dict "customLabels" $podLabels "context" $) | nindent 6 }}
      app.kubernetes.io/component: frontend

  # This prevents an empty dict {} to be rendered when extraOptionsSpec only contains keys that are
  # omitted (selector).
{{- $extraOptionsSpec := omit .Values.frontend.extraOptionsSpec "selector" }}
{{- if $extraOptionsSpec }}
  {{- include "seqera.tplvalues.render" (dict "value" $extraOptionsSpec "context" $) | nindent 2 }}
{{- end }}

  template:
    metadata:
      labels: {{- include "common.labels.standard" (dict "customLabels" $podLabels "context" $) | nindent 8 }}
        app.kubernetes.io/component: frontend
      annotations:
{{- if or .Values.frontend.podAnnotations .Values.commonAnnotations }}
  {{- $podAnnotations := include "common.tplvalues.merge" (dict "values" (list .Values.frontend.podAnnotations .Values.commonAnnotations) "context" $) }}
        {{- include "common.tplvalues.render" (dict "value" $podAnnotations "context" $) | nindent 8 }}
{{- end }}

    spec:
      serviceAccountName: {{ include "platform.serviceAccountName" . }}
{{- if .Values.frontend.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.frontend.podSecurityContext "enabled" | toYaml | nindent 8 }}
{{- end }}
{{- $extraOptionsTemplateSpec := omit .Values.frontend.extraOptionsTemplateSpec "serviceAccountName" "serviceAccount" "securityContext" "initContainers" "containers" "volumes" "imagePullSecrets" }}
{{- if $extraOptionsTemplateSpec }}
      {{- include "seqera.tplvalues.render" (dict "value" $extraOptionsTemplateSpec "context" $) | nindent 6 }}
{{- end }}

      initContainers:
{{- with .Values.frontend.initContainers }}
        {{- include "seqera.tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
{{- end }}

      containers:
        - name: frontend
          image: {{ include "platform.frontend.image" (dict "imageRoot" .Values.frontend.image "global" .Values.global "chart" .Chart) }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
{{- with .Values.frontend.command }}
          command: {{- toYaml . | nindent 12 }}
{{- end }}
{{- with .Values.frontend.args }}
          args: {{- toYaml . | nindent 12 }}
{{- end }}

          envFrom:
{{- range .Values.frontend.extraEnvVarsCMs }}
            - configMapRef:
                name: {{ include "seqera.tplvalues.render" (dict "value" . "context" $) }}
{{- end }}
{{- range .Values.frontend.extraEnvVarsSecrets }}
            - secretRef:
                name: {{ include "seqera.tplvalues.render" (dict "value" . "context" $) }}
{{- end }}

          env:
            - name: NGINX_UPSTREAM_HOST
              value: {{ tpl .Values.global.platformServiceAddress . }}
            - name: NGINX_UPSTREAM_PORT
              value: {{ .Values.global.platformServicePort | int | quote }}
            - name: NGINX_LISTEN_PORT
              value: {{ .Values.frontend.service.http.targetPort | quote }}
{{- with .Values.frontend.extraEnvVars }}
            {{- include "seqera.tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
{{- end }}

{{- with .Values.frontend.resources }}
          resources: {{- toYaml . | nindent 12 }}
{{- end }}

          volumeMounts:
{{- with .Values.frontend.extraVolumeMounts }}
            {{- include "seqera.tplvalues.render" (dict "value" . "context" $) | nindent 10 }}
{{- end }}
          - name: tmp-volume
            mountPath: /tmp/
          - name: nginx-conf-volume
            mountPath: /etc/nginx/conf.d/

{{- if .Values.frontend.containerSecurityContext.enabled }}
          securityContext: {{- omit .Values.frontend.containerSecurityContext "enabled" | toYaml | nindent 12 }}
{{- end }}

{{- if .Values.frontend.livenessProbe.enabled }}
          livenessProbe: {{- include "seqera.tplvalues.render" (dict "value" (omit .Values.frontend.livenessProbe "enabled") "context" $) | nindent 12 }}
{{- end }}
{{- if .Values.frontend.readinessProbe.enabled }}
          readinessProbe: {{- include "seqera.tplvalues.render" (dict "value" (omit .Values.frontend.readinessProbe "enabled") "context" $) | nindent 12 }}
{{- end }}
{{- if .Values.frontend.startupProbe.enabled }}
          startupProbe: {{- include "seqera.tplvalues.render" (dict "value" (omit .Values.frontend.startupProbe "enabled") "context" $) | nindent 12 }}
{{- end }}

      volumes:
{{- with .Values.frontend.extraVolumes }}
        {{- include "seqera.tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
{{- end }}

        # Mount temporary directories for nginx to support read-only root filesystem.
        - name: tmp-volume
          emptyDir:
            sizeLimit: "100Mi"
        - name: nginx-conf-volume
          emptyDir:
            sizeLimit: "10Mi"

      {{ include "common.images.renderPullSecrets" ( dict "images" (list .Values.frontend.image) "context" $) | nindent 6 }}
