---
apiVersion: v1
kind: Service
metadata:
  # The frontend pod is a nginx server that points to this service.
  # Set the NGINX_UPSTREAM_HOST and NGINX_UPSTREAM_PORT env variables on the frontend deployment to
  # point to this service name and the http port associated with it.
  name: {{ tpl .Values.global.platformServiceAddress . | quote }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
    {{- with .Values.tower.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if or .Values.tower.serviceAnnotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" (dict "values" (list .Values.tower.serviceAnnotations .Values.commonAnnotations) "context" .) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.backend.service.type }}
  {{- with .Values.backend.service.extraOptions -}}
  {{- include "common.tplvalues.render" (dict "value" (omit . "selector" "type" "ports") "context" $) | nindent 2 -}}
  {{- end }}

  {{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.backend.podLabels .Values.commonLabels) "context" .) }}
  selector: {{- include "common.labels.matchLabels" ( dict "customLabels" $podLabels "context" $ ) | nindent 4 }}
    app: backend
  ports:
    {{- /* The http service is required and the installation must fail if it's missing since it's
         referenced by the frontend, so don't use 'with' here. */}}
    - name: {{ .Values.backend.service.http.name | default "http" }}
      # TODO: we should templatize the port here too, so it could be reused with different charts
      port: {{ .Values.global.platformServicePort | int }}
      targetPort: 8080  # TODO: backend doesn't allow changing this, hardcoded for now.
      {{- if and .Values.backend.service.http.nodePort
                 (or (eq .Values.backend.service.type "NodePort") (eq .Values.backend.service.type "LoadBalancer")) }}
      nodePort: {{ .Values.backend.service.http.nodePort }}
      {{- end }}
    {{- with .Values.backend.service.extraServices }}
    {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 4 }}
    {{- end }}
---
{{/* The cron service is only needed by the initContainer that checks for cron to be ready. */}}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-cron" (include "common.names.fullname" .) | quote }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
    {{- with .Values.tower.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if or .Values.tower.serviceAnnotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" (dict "values" (list .Values.tower.serviceAnnotations .Values.commonAnnotations) "context" .) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.cron.service.type }}
  {{- with .Values.cron.service.extraOptions -}}
  {{- include "common.tplvalues.render" (dict "value" (omit . "selector" "type" "ports") "context" $) | nindent 2 -}}
  {{- end }}
  {{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.cron.podLabels .Values.commonLabels) "context" .) }}
  selector: {{- include "common.labels.matchLabels" ( dict "customLabels" $podLabels "context" $ ) | nindent 4 }}
    app: cron
  ports:
    - name: {{ .Values.cron.service.name | default "http" }}
      port: {{ .Values.cron.service.http.port }}
      targetPort: {{ .Values.cron.service.http.targetPort }}
      {{- if and .Values.cron.service.http.nodePort (or (eq .Values.cron.service.type "NodePort") (eq .Values.cron.service.type "LoadBalancer")) }}
      nodePort: {{ .Values.cron.service.http.nodePort }}
      {{- end }}
    {{- with .Values.cron.service.extraServices }}
    {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-frontend" (include "common.names.fullname" .) | quote }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
    {{- with .Values.tower.serviceLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if or .Values.tower.serviceAnnotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" (dict "values" (list .Values.tower.serviceAnnotations .Values.commonAnnotations) "context" .) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.frontend.service.type }}
  {{- with .Values.frontend.service.extraOptions -}}
  {{- include "common.tplvalues.render" (dict "value" (omit . "selector" "type" "ports") "context" $) | nindent 2 -}}
  {{- end }}
  {{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.frontend.podLabels .Values.commonLabels) "context" .) }}
  selector: {{- include "common.labels.matchLabels" ( dict "customLabels" $podLabels "context" $ ) | nindent 4 }}
    app: frontend
  ports:
    - name: {{ .Values.frontend.service.http.name | default "http" }}
      port: {{ .Values.frontend.service.http.port }}
      targetPort: {{ .Values.frontend.service.http.targetPort }}
      {{- if and .Values.frontend.service.http.nodePort (or (eq .Values.frontend.service.type "NodePort") (eq .Values.frontend.service.type "LoadBalancer")) }}
      nodePort: {{ .Values.frontend.service.http.nodePort }}
      {{- end }}
    {{- with .Values.frontend.service.extraServices }}
    {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 4 }}
    {{- end }}
